/* Hero section gradient */
.hero-bg{
  background-image: url(../../public/graphics/Levare-Studio.png);
  background-position-y: calc(260px); 
  background-attachment: local;
  @apply bg-center bg-no-repeat bg-cover lg:bg-contain
}

.grid-bg{
  background-image: url(../../public/stock/grid-bg.jpg);
  @apply bg-repeat-y bg-contain
}

.testimonial-bg-1{
  background-image: url(../../public/optimized/levare-testimonial.png);
  @apply bg-cover bg-center
}

.testimonial-bg-2{
  background-image: url(../../public/optimized/levare-clients.png);
  @apply bg-cover bg-center
}

.packages-bg{
  background-image: url(../../public/optimized/levare-studio-2.png);
  @apply bg-cover bg-center
}

/* Case Studies */
/* PES */
.pes-bg{
  background-image: url("../../public/case-studies/pes-client-bg-1.png");
}