@tailwind base;
@tailwind components;
@tailwind utilities;
 
*, html {
  line-height: 144%;
  scroll-behavior: smooth;
}

.container{
  @apply md:max-w-[680px] lg:max-w-[1120px] mx-auto
}

/* default section padding */
section, .section-padding{
  @apply px-4 md:px-8 lg:px-20
}

.button-2{
  @apply text-neutral-900 bg-white px-8 py-3 text-center hover:bg-neutral-100 rounded-full
}

.levare-input-and-label-container{
@apply flex flex-col items-start text-start gap-3 w-full text-neutral-300
}

.levare-form-input{
@apply bg-transparent border-b-[1px] border-solid w-full active:outline-none aria-selected:outline outline-none text-white placeholder:text-neutral-500
}
  
.freebie-container{
  box-shadow: 12px 12px 0px 0px rgba(255, 0, 46, 0.5);
  @apply border-[2px] border-solid border-black bg-white relative py-8 px-4 md:pl-[112px] text-start flex flex-col gap-8 w-full max-w-[464px] mx-auto
}